/* General Table Styles */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Header Styling */
th {
  background-color: lightblue;
  color: white;
  text-align: center;
}

/* Larger header cells */
.header-large {
  font-size: 1.2rem;
  padding: 10px;
}

/* Custom row height */
tr.custom-height {
  height: 50px;
}
