* {
  font-family: var(--font-family);
}

/* ! HEADER CSS STARTED */
.header {
  display: flex;
  justify-content: center;
  height: 108px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
  width: var(--max-width);
  align-items: center;
}

.logo {
  height: 42px;
}

.navbar {
  height: 42px;
  display: flex;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  column-gap: 42px;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.nav-menu li {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.nav-menu li a {
  font-family: var(--font-family);
  text-decoration: none;
  color: #3b3c4a;
  /*! Smooth tranition on hover */
  transition: color 0.5s;
}
.nav-menu li a:hover {
  color: var(--primary-color);
}

.search-container {
  /*! Addded so that the search icon is relative to this div and not the root element */
  position: relative;
}

.search-input {
  background-color: #f4f4f5;
  min-height: 36px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  min-width: 168px;
  /*! Slightly indent the cursor when typing and indent the placeholder  */
  text-indent: 20px;
}

.search-input::placeholder {
  font-size: 0.875rem;
  color: #a1a1aa;
  line-height: 20px;
}

.search-input:focus {
  border: 1px solid var(--primary-color); /* Change the border color */
  outline: none; /* Remove the default outline */
  background-color: #e0e0e0; /* Change the background color */
  color: #3b3c4a; /* Change the text color */
}

.search-icon {
  position: absolute;
  right: 8px; /* Adjust based on your preference */
  top: 8px;
  color: #52525b; /* Icon color */
  /* !After adding below porperty even clicking on the search icon will trigger input focu the way should be */
  pointer-events: none; /* Ensure the icon does not interfere with input focus */
}

/* ! HEADER CSS ENDED */

/* ! HERO SECTION CSS STARTED */
.main-section {
  padding: 16px;
  max-width: var(--max-width);
  margin: auto;
}

.hero-section {
  position: relative;
}

.hero-image {
  min-height: 600px;
  background-image: url("../images/hero.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 1rem;
}

.hero-description {
  position: absolute;
  top: 360px;
  left: 64px;
  width: 600px;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  /*! Ask Copilot how to set inset boder */
  box-shadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12), inset 0 0 0 1px #e8e8ea;
  padding: 40px;
}

.article-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-badge {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  margin-bottom: 24px;
  min-height: 42px;
}

h1 a {
  text-decoration: none;
  font-weight: 600;
  color: var(--heading-font-color);
  font-size: 2.375rem;
  line-height: 1.05;
}

.author-section {
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #97989f;
}

.author-name {
  font-weight: 500;
}

/* ! HERO SECTION CSS ENDED */

/* ! BLOG SECTION CSS STARTED */
.blogs-section {
  margin-top: 12rem;
}

.blogs-section h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 32px;
}

.single-post {
  width: 32%;
  padding: 16px;
  border: 1px solid #e8e8ea;
  border-radius: 0.75rem;
}

.single-post img {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0.6rem;
}

.single-post .article-details {
  padding: 24px 8px;
}

.single-post h2 a {
  text-decoration: none;
  font-weight: 600;
  color: #181a2a;
  line-height: 1.2;
  font-size: 24px;
}

.single-post .hero-badge {
  background-color: rgba(75, 107, 251, 0.05);
  color: var(--primary-color);
}

.single-post .author-section img {
  width: 36px;
}

.view-all {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.view-all a {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1rem;
  line-height: 1.3;
  color: #696a75;
  border: 1px solid #e8e8ea;
  border-radius: 0.5rem;
  transition: background-color, color, 0.5s;
}

.view-all a:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* ! BLOG SECTION CSS ENDED */

.footer {
  background-color: #f6f6f7;
  padding: 32px;
}

.footer-wrapper {
  display: flex;
  max-width: var(--max-width);
  margin: auto;
  justify-content: flex-end;
}

.footer-links {
  display: flex;
}

.footer-links li {
  padding: 0px 16px;
  border-right: 1px solid #c6c6c6;
}
.footer-links li:last-child {
  padding: 0px 16px;
  border-right: none;
}

.footer-links li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: #3b3c4a;
  font-size: 1rem;
  transition: color 0.5s;
}

.footer-links li a:hover {
  color: var(--primary-color);
}
